*{
    padding: 0px;
    margin: 0px;
}
.nav-container{
    display: flex;
    padding: 20px;
    justify-content: space-around;
    background-color: #585858;
    align-items: center;
    color: white;
}
.items{
    display: flex;
    font-size: 22px;
    font-weight: bold;
}
.item{
    padding-left: 15px;
    list-style: none;
}
.banner-container{
    width: 100%;
    height: 100vh;
    background-image: url("asset/image/background.jpg"),linear-gradient(rgba(0, 0, 0, 0.8),rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    
}

.title-banner{
    font-size: 85px;
    font-weight: bold;

}
.digital{
    color: red;
}
.banner-dsc{
    font-size: 22px;
    width: 50%;
    margin: auto;
}
.btn-descover{
    padding: 15px 35px;
    margin: 10px;
    font-size: 16px;
    color: white;
    background-color: red;
    border: none;
}
.btn-hire{
    padding: 15px 35px;
    margin: 10px;
    font-size: 16px;
    color: black;
    background-color: white;
    border: none;
}
.service-container{
    width: 95.4%;
    height: 100vh;
    background-image: url('asset/image/footer-bg.png'),linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9));
    background-blend-mode: overlay;
    color: rgb(199, 190, 190);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.service-left-container{
    width:45%;
}
.service-right-container{
    width: 50%;
}

.service-btn{
    color: rgb(172, 167, 167);
    border-radius: 25px;
    padding: 15px 35px;
    border: none;
    margin-bottom: 10px;
}
.service-title{
    font-weight: bold;
}
.service-description{
font-size: 20px;
width: 80%;
padding: 15px;
}
.service-l{
    margin-left: 15px;
    padding-bottom: 15px;
}
.service-l li{
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
}
.author-details{
    display: flex;
    align-items: center;
}

.img-div{
    display: flex;
    align-items: center;
    padding: 15px;
    border-right: 1px solid rgb(89, 0, 255)
}
.author-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
}
.service-btn1{
    margin-left: 8px;
}
.auth-desc{
    margin-left: 10px;
}
.service-1,.service-2{
    padding: 30px;
    background-color: white;
    box-shadow: 4px 4px 8px gray;
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
}
.service-logo{
    width: 50%;
    padding-bottom: 10px;

}
.services{
    display: flex;
    justify-content: center;
    align-items: center;
}
.appointment-img-icon{
    width: 25%;
}

.appointment-section{
    background-color: red;
    color: white;
    width: 70%;
    margin: auto;
    padding: 50px;
    display: flex;
    border-radius: 10px;
    margin-top: -50px;
}
.appointment-img-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.apoint-img-info{
    margin-left: 12px;
}
.apoint-btn{
    width: 40%;
}
.apoint-btn button{
padding: 15px;
color: black;
border-radius: 10px;
}
.apoint-desc{
    padding: 15px;
    font-size: 15px;
}

.blog-info{
    text-align: center;
}
.blog-desc{
    font-size: 22px;
}
.blog-section{
    padding-top: 50px;
}
.card-1{
    height: 400px;
    width: 350px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
}
.card-1 img{
    height: 200px;
    width: 100%;
}
.blog-card{
    display: flex;
    justify-items: center;
    justify-content: center;
}
.blog-title{
    padding: 10px 0px;
}

footer{
    background: url('asset/image/footer-bg.png'),linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.9));
    background-blend-mode: overlay;
}

.footer-container{
    width: 100%;
    height: 70vh;
    display: flex;
    color:white;
    font-size: 20px;
    font-weight: 400;
    align-items: center;
    justify-content: center;
}
.copy{
    color: whitesmoke;
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid green;
    width: 70%;
    margin: auto;
    padding-bottom: 30px;
    font-size: 25px;
}
.footer-container > div{
    width: 20%;
}
.logo-box{
    padding: 20px;
}
.footer-img{
    padding-bottom: 10px;
}
.footer-desc{
    padding-bottom: 10px;
}
.fa-brands{
    padding: 10px;
}
.footer-title{
    padding-bottom: 15px;
}
p{
    padding-bottom: 10px;
}